*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: #fff;
}

.location, .temperature{

    display: flex;
    justify-content:center;
    align-items: center;
}

.temperature{
    flex-direction:column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 35px;
    font-size: 10px;
}
.degree-section h2{
    font-size: 15px;
}
h3{
    padding: 5px 2px;
}